@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  background: url("https://jimakugazomaker.pages.dev/犬.jpg"), #eee;
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-size: 20%;
}

#mainContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

.imgContainer {
  width: 800px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0.2rem;
}

.imgContainer img {
  max-width: 100%;
  height: auto;
}

.forms {
  padding: 1rem;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  text-align: left;
}

.form {
  padding: 1rem;
}
